<div class="row">
    <div class="col-12 mt-1 text-end">
        <button class="btn btn-sm btn-success" routerLink="/purchase">New purchase</button>
    </div>
</div>


<div class="row">
    <div class="col-3 mx-2" *ngFor="let item of purchasedList">
        <div class="row">
            
                <div class="card mt-2" style="width: 250px;">
                    <div class="card-header bg-secondary ">employee Data</div>
                    <div class="card-body">
                        <p>supplier Name:{{item.supplierName}}</p>
                        <p>:Invoice number:{{item.invoiceNo}}</p>
                        <p>product name:{{item.productName}}</p>
                        <p>Quantity:{{item.quantity}}</p>
                        <p>purchaseDate:{{item.purchaseDate |date:'dd-MMM-yyyy'}}</p>
                        <P>Amount {{item.invoiceAmount |currency:'INR'}}</P>
                        

                    </div>
                </div>
            
        </div>
    </div>
</div>
