<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="Dashboard">Dashboard</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="purchase">purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sale">sale</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="purchase-List">purchase-List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sale-List">sale-List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="stock">stock</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>